<a href="https://colab.research.google.com/github/sadanmagar/AI-and-Data-Science-Crash-Course/blob/main/AI_and_Data_Science_Crash_Course_update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Download Python

https://www.python.org/downloads/release/python-3124/

# Install Jupyter Notebook

Step 1: Open your command prompt <br>
Step 2: type install jupyter

# Running your first python Program

In [ ]:
print("Hello World")

Hello World

# Taking Input from User

In [ ]:
name=input("Enter your name: ")
print(name)

Enter your name: Hello James
Hello James

# Python Variables

Variables are containers for storing data values.

In [ ]:
#x and y are integeres and name is string
x=5
y=10

In [ ]:
name="Xavier"

In [ ]:
print(x)
print(y)
print(name)
print(x,y,name)

5
10
Xavier
5 10 Xavier

Variable names are case-sensitive

In [ ]:
a=10
A=15
print(a)
print(A)

10
15

# Data Types

Text Type:	str <br>
Numeric Types:	int, float<br>
Sequence Types:	list, tuple, range <br>
Mapping Type:	dict <br>
Set Types:	set, frozenset <br>
Boolean Type:	bool <br>

x = "Hello World"	str	<br>
x = 20	int	<br>
x = 20.5	float <br>
x = 1j	complex	<br>
x = ["apple", "banana", "cherry"]	list <br>
x = ("apple", "banana", "cherry")	tuple	<br>
x = range(6)	range	<br>
x = {"name" : "John", "age" : 36}	dict <br>
x = {"apple", "banana", "cherry"}	set <br>

Getting the Data Type

In [ ]:
a=20
print(type(a))

<class 'int'>

In [ ]:
name="Smith"
print(type(name))

<class 'str'>

# Python Numbers

There are three numeric types in Python:

int<br>
float <br>
Complex <br>

In [ ]:
a=10
b=10.5
c=1j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

Complex: In Python, a complex number is a number that has both a real part and an imaginary part. The imaginary part is denoted by a suffix j or J. Complex numbers are supported natively in Python and can be created using literals or the complex() function.

# Python Casting

In Python, casting is commonly used to convert between different types of variables, such as integers, floats, strings, and more. Python supports several built-in functions for casting.

In [ ]:
a = 3.14
b = int(a)  # Output: 3
print(b)

3

In [ ]:
s = "123"
i = int(s)  # Output: 123
print(type(s))
print(type(i))
print(s)

<class 'str'>
<class 'int'>
123

# Strings

In [ ]:
str1 = 'Hello, World!'
str2 = "Hello, World!" #Strings can be created using either single or double quotes

Multi Line Strings

In [ ]:
mystr= '''This is a multi-line
string in Python.'''
print(mystr)

This is a multi-line
string in Python.

In [ ]:
intro='''My Name is Ram
I am from Nepal'''

# String Methods

Formatted string

In [ ]:
name="Harry"
print(f"my name is {name}")

my name is Harry

https://www.w3schools.com/python/python_strings_methods.asp

# Booleans

Booleans represent one of two values: True or False.

In [ ]:
print(100 > 29)
print(11==7)

True
False

In [ ]:
num1=20
num2=input("Enter any number: ")
print(num1==num2)

Enter any number: 11
False

# Operators

Arithmetic operators (+,-,/,*,**) <br>
Assignment operators (=)<br>
Comparison operators (==,>,<,>=)<br>

In [ ]:
10+20

30

In [ ]:
20-11

9

In [ ]:
10==10

True

In [ ]:
a=10

**LIST**

Lists are used to store multiple items in a single variable.

In [1]:
game=["chess","football","basketball"]
print(game)
print(type(game))

['chess', 'football', 'basketball']
<class 'list'>

List items are ordered, changeable, and allow duplicate values.

In [3]:
#finding the length of lis
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [6]:
#Accessing the list item
print(game[1])
print(game[-1]) #negative indexing
print(game[0:2]) #range from 1st item to 2nd

football
basketball
['chess', 'football']

In [9]:

game[1]="american football" #changing list item
print(game)

['chess', 'american football', 'basketball']

In [11]:
game.append("Cards") #adding new item, append adds the item to the end of the list
print(game)

['chess', 'american football', 'basketball', 'Cards', 'Cards']

In [12]:
#inserting item in specific position
game.insert(2,"Pubg")
print(game)

['chess', 'american football', 'Pubg', 'basketball', 'Cards', 'Cards']

In [14]:
#removing list item

game.remove("Cards")
print(game)

['chess', 'american football', 'Pubg', 'basketball', 'Cards']

**Tuple**

Tuples are used to store multiple items in a single variable.

In [15]:
city = ("ktm","bhaktapur","lalitpur","jhapa","ilam")
print(city)

('ktm', 'bhaktapur', 'lalitpur', 'jhapa', 'ilam')

Tuple items are ordered, unchangeable, and allow duplicate values.

**Update Tuples**

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.


You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [18]:
new_city=list(city)
new_city.append("Chitwan")
print(new_city)

['ktm', 'bhaktapur', 'lalitpur', 'jhapa', 'ilam', 'Chitwan']

**Sets**

A set is a collection which is unordered, unchangeable*, and unindexed.

In [20]:
city={"Kathmandu","Pokhara","Lalitpur","Dang"}
print(type(city))
print(len(city))
city.add("Jhapa") #Once a set is created, you cannot change its items, but you can add new items.
print(city)

<class 'set'>
4
{'Lalitpur', 'Jhapa', 'Pokhara', 'Kathmandu', 'Dang'}

In [23]:
city.remove("Dang") #we can remove the item using the remove method
print(city)

{'Lalitpur', 'Pokhara', 'Kathmandu'}

**Dictionaries**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Duplicates Not Allowed in Dictionaries**

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

#Duplicate values will overwrite existing values:

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [30]:
#changing values in dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [32]:
#adding item in dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [33]:
#The pop() method removes the item with the specified key name
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [27]:
10>=10

True

# If..Else


The if statement in Python is used for decision-making. It allows you to execute certain blocks of code based on whether a condition is true or false.

if condition: <br>
    # block of code to execute if condition is true

In [ ]:
if 10>5:
    print("True")

True

In [ ]:
a=12
if a%3==0:
    print("a is exactly divisible by 3")

a is exactly divisible by 3

Else

In [ ]:
today=input("Enter a day: ")
if today=="saturday":
    print("Bravo its holiday")
else:
    print("oops! Its working day")

Enter a day: sunday
oops! Its working day

el_if

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# While loop

In [ ]:
i = 1 #the inital value of i=1
while i < 6: #we check the condition if i which is 1 is smaller than 6 or not.
  print(i) #the value of is printed
  i += 1 #the value of i is increased by 1
#this program will run untill and unless the value of i is smaller than 6

1
2
3
4
5

In [ ]:
#while_else
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For Loop

A for loop in Python is used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code for each item in the sequence. It's a powerful tool for automating repetitive tasks and iterating over data structures.

Example 1: Iterating Over a List

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

# Example 2: Iterating Over a String

In [ ]:
word = "Python"

for letter in word:
    print(letter)

P
y
t
h
o
n

Example 3: Using the range() Function

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(2,10): #starts from 2
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10,3): #jumps with step of 3
    print(i)

2
5
8

# Function

function is a reusable block of code that performs a specific task. Functions help organize code into logical, manageable chunks, making it easier to read, debug, and maintain. They can take inputs, called parameters, and return outputs.

Defining a function

In [ ]:
def greet(): #def is used to define the function and greet is the name of function
    print("Hello, World!")

greet()  # Calling the function

Hello, World!

In [ ]:
#The above function named greet do print the hello world whenever it is called

# Example 2: Function with Parameters

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet("Ram")  # Output: Hello, Alice!
greet("Sita")    # Output: Hello, Bob!

Hello, Ram!
Hello, Sita!

In this example, the greet function takes one parameter, name, and uses it to personalize the greeting.

# Example 3: Function with Return Value

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)  # Output: 8

8

The add function takes two parameters, a and b, and returns their sum. The returned value is stored in the variable result.

# Example 4: Function with Default Parameters

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()         # Output: Hello, Guest!
greet("Alice")  # Output: Hello, Alice!

Hello, Guest!
Hello, Alice!

The greet function here has a default parameter value of "Guest". If no argument is passed when the function is called, it uses the default value.

# TASK

Question 1: Write a Python program that checks if a number is exactly divisble by 5 or not.

Question 2: Write a Python program that uses a for loop to iterate over a list of numbers and prints each number squared.

Question 3: Write a program, which creates a function named grade which has default grade as A and call the function with other parameters